<div class="alert alert-success text-center" role="alert">
    Cadastro salvo com sucesso!...
</div>
<div class="card">
    <div class="card-header">
        Formulário de Produto
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="row">
                <div class="col-2 mb-3">
                    <label for="input-id" class="form-label">Id</label>
                    <input type="number" class="form-control" id="input-id" disabled value="1">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="input-descricao" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="input-descricao">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label for="select-unidade" class="form-label">Unidade</label>
                    <select class="form-select" id="select-unidade">

                        <option value="UN">UN</option>
                        <option value="CX">CX</option>
                        <option value="PCT">PCT</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="input-preco" class="form-label">Preço</label>
                    <input type="number" step="0.01" class="form-control" id="input-preco">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success mr-2">Salvar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>