<div class="alert alert-success text-center" role="alert">
  Cadastro salvo com sucesso!...
</div>
<div class="card">
    <div class="card-header">
        Formulário de Cliente
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="row">
                <div class="col-2 mb-3">
                    <label for="input-id" class="form-label">Id</label>
                    <input type="number" class="form-control" id="input-id" disabled value="1">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="input-nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="input-nome">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="input-telefone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="input-telefone">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="input-endereco" class="form-label">Endereço</label>
                    <input type="text" class="form-control" id="input-endereco">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success mr-2">Salvar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>